<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Posts</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css" />
    <link href="styles.css" rel="stylesheet" />

    <script>
      function handleReadMoreToggle(jobId) {
        updateJobStatus(jobId, "viewed");

        const card = document.querySelector(`#card-${jobId}`);
        const button = document.querySelector(`#read-more-button-${jobId}`);
        const col = document.querySelector(`#col-${jobId}`);
        const isExpanded = col.classList.contains("col-12");

        const shortDescription = document.querySelector(
          `#short-description-${jobId}`
        );
        const fullDescription = document.querySelector(
          `#full-description-${jobId}`
        );

        if (isExpanded) {
          col.classList.add("col-md-4");
          col.classList.remove("col-12");

          button.textContent = "Read more";
          shortDescription.style.display = "";
          fullDescription.style.display = "none";
        } else {
          col.classList.remove("col-md-4");
          col.classList.add("col-12");

          button.textContent = "Read less";
          shortDescription.style.display = "none";
          fullDescription.style.display = "";
          card.scrollIntoView({
            behavior: "smooth",
            block: "start",
          });
        }
      }

      function filterJobs(status) {
        window.location.href = `/jobs?status=${status}`;
      }

      function updateJobStatus(jobId, status) {
        fetch(`/jobs/${jobId}/status`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ status }),
        });

        if (status === "hidden") {
          filterJobs("new");
        }

        if (status === "starred") {
          filterJobs("starred");
        }
      }
    </script>
  </head>
  <body>
    <%- include('menu') -%>
    <div class="container-fluid mt-5">
      <div class="mb-3">
        <button
          class="btn btn-primary me-2 position-relative"
          onclick="filterJobs('all')"
        >
          All
          <span
            class="badge rounded-pill bg-danger position-absolute top-0 start-100 translate-middle p-2"
          >
            <%- allJobsCount %>
          </span>
        </button>
        <button
          class="btn btn-primary me-2 position-relative"
          onclick="filterJobs('new')"
        >
          New
          <span
            class="badge rounded-pill bg-danger position-absolute top-0 start-100 translate-middle p-2"
          >
            <%- newJobsCount %>
          </span>
        </button>
        <button
          class="btn btn-secondary me-2 position-relative"
          onclick="filterJobs('viewed')"
        >
          Viewed
          <span
            class="badge rounded-pill bg-danger position-absolute top-0 start-100 translate-middle p-2"
          >
            <%- viewedJobsCount %>
          </span>
        </button>
        <button
          class="btn btn-warning position-relative"
          onclick="filterJobs('starred')"
        >
          Starred
          <span
            class="badge rounded-pill bg-danger position-absolute top-0 start-100 translate-middle p-2"
          >
            <%- starredJobsCount %>
          </span>
        </button>
        <button
          class="btn btn-danger me-2 position-relative"
          onclick="filterJobs('hidden')"
        >
          Hidden
          <span
            class="badge rounded-pill bg-danger position-absolute top-0 start-100 translate-middle p-2"
          >
            <%- hiddenJobsCount %>
          </span>
        </button>
      </div>

      <div id="job-container" class="row">
        <% jobs.forEach(job => { %>
        <div class="col-md-4 mb-4" id="col-<%= job.dataValues.id %>">
          <div
            class="card position-relative"
            id="card-<%= job.dataValues.id %>"
          >
            <div class="card-header <%= job.style %> fs-4 position-relative">
              <% if (job.dataValues.status !== "starred") { %>
              <button
                class="btn btn-warning btn-sm position-absolute top-0 start-0 m-2"
                onclick="updateJobStatus(<%= job.dataValues.id %>, 'starred')"
              >
                ★
              </button>
              <% } %> <% if (job.dataValues.status !== "hidden") { %>
              <button
                class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2"
                onclick="updateJobStatus(<%= job.dataValues.id %>, 'hidden')"
              >
                X
              </button>
              <% } %>

              <div class="container">
                <p class="fw-bolder ms-3"><%- job.dataValues.company %></p>
                <div class="float-end">
                  <% if (job.dataValues.company_logo) { %>
                  <img
                    src="<%= job.dataValues.company_logo %>"
                    style="max-width: 100px"
                    class="rounded img-thumbnail"
                  />
                  <% } %>
                </div>
              </div>
              <p>
                <%= job.dataValues.title %> <% if (job.dataValues.is_remote) {
                %>
                <img
                  src="./work-from-home.png"
                  style="max-width: 50px"
                  class="rounded img-thumbnail"
                />
                <% } %>
              </p>
            </div>

            <div class="card-body">
              <div
                class="card-text short-description"
                id="short-description-<%= job.dataValues.id %>"
              >
                <p><%- job.shortDescription %></p>
              </div>

              <% if (job.fullDescription !== job.shortDescription) { %>
              <div
                class="full-description"
                style="display: none"
                id="full-description-<%= job.dataValues.id %>"
              >
                <div class="card-text"><%- job.fullDescription %></div>
              </div>
              <% } %>

              <button
                class="btn btn-secondary"
                id="read-more-button-<%= job.dataValues.id %>"
                onclick="handleReadMoreToggle(<%= job.dataValues.id %>)"
              >
                <strong> Read more </strong>
              </button>
            </div>
            <div class="card-footer <%= job.style %>">
              <a
                href="<%= job.dataValues.job_url %>"
                target="_blank"
                class="icon-link"
                style="color: black"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-link"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"
                  />
                  <path
                    d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z"
                  />
                </svg>
                <%- job.dataValues.site %>
              </a>
              (<%= moment(job.dataValues.date_posted).format('DD/MM/yyyy') %>)
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNVRGhuOdrnaYT1Qs8ZXZOT1BoFuvt5voINxR2S91FpxN4oo"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
